
.package-form input {
    display: block;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
}
.package-form textarea {
    display: block;
    margin-top: 25px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
}
.error{
    color: red;
}